<footer>
    <div class="footer">
        <article class="planta">
            <a href="/"><img src="/images/allForPlants-01.svg" alt="Logo Adam's Garden"></a>
        </article>
    </div>
    <div class="footer">
        <article class="redes">
            <h5>Seguinos en Redes Sociales</h5>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </article>    
    </div>
    <div class="footer">
        <h5>Contactanos</h5><i class="fab fa-whatsapp"></i>
    </div>    
    <article>
        <div class="footer">
            <p class="copyright">Copyright © 2022 </p>
        </div> 
    </article>
</footer> 