<header>
    <nav>  
        <img src="/images/menu.svg" alt="menu" class="menu"> 
        <div class="navbar-left" >
            <a href="/"> <img src="/images/AdamsLogo.svg" alt="logo" class="logo"></a>
            <ul> 
                <li><a href="/"> Home </a></li>
                <li><a> Productos </a></li>
                <li><a> Marcas </a></li>
                <li><a> Registro </a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul>
                <li class="navbar-login"><a href="/loggin"> Ingresá </a></li>

                <li class="user">
                    <img src="/images/user.svg" alt="user" class="user" style="width: 30px;">
                </li>
                <li class="navbar-shopping-cart"> 
                    <a href="/carrito">
                        <img src="/images/shoppingCar.svg" alt="shopping-card" style="width: 30px;" >
                    </a>
                    <div>2</div>
                </li>
            </ul>
        </div>
    </nav>
    </header> 