<%- include('../partials/head.ejs') %>
        <header>
            <%- include('../partials/header.ejs') %> 
        </header> 
        <section class="banner">
            <div>
                <img src="/images/Banner.jpg" alt="Banner de ofertas">
            </div>
        </section>
        <main>
            <section class="destacados">
                <h3>DESTACADOS</h3>
                <div class="productos" >    
                <% plantas.forEach(planta => { %>
                    <%- include('../partials/plantas.ejs',{planta}) %>
                <% }) %>
                </div>
            </section>
        </main>  
        <footer>
            <%- include('../partials/footer.ejs')%> 
       </footer>
    </body>
</html>