<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('head'); -%>
    </head>
    <body>
        <header>
            <%- include('header'); -%>
             </header>
        <main>
           
            <div class="login">
                <div class="form-container">
                  <h1 class="title">Inicia sesión</h1>
                  <form action="/" class="form">
                    <label for="email" class="label">Email</label>
                    <input type="text" id="email" placeholder="aphx@xas.com" class="input input-email">
            
                    <label for="password" class="label">Contrasenia</label>
                    <input type="password" id="password" placeholder="*********" class="input input-password">
            
                    <input type="submit" value="Ingresar" class="primary-button login-button">
                    <a href="/">Olvide mi contrasenia</a>
                  </form>
            
                  <a href="/registro"><button class="secondary-button signup-button"> Registrate </button></a>
                </div>
              </div>
        </main>  
        <footer>
            <%- include('footer'); -%>
           </footer> 
    </body>
</html>